<style>
h1 {
  font-family: "Brush script MT",cursive;
  font-size: 80px;
}
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtDpP_EgOVKAp4gJBd9XqNmyYOgIsPnoTcbShG7ql9bU-8kUu6VkD9oTsPfEMM3WPVfqk&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
table {
  background-color: lightgoldenrodyellow;
}
.button0 {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  padding: 32px 64px;
  text-align: center;
  font-size: 50px;
  font-color: blue;
  position: middle;
}
.button:hover {
  background-color:#0096FF;
  color: white;
  padding: 32px 64px;
  text-align: center;
  font-size: 50px;
  font-color: blue;
  position: middle;
}
</style>
